body {
  margin: 0;
  line-height: normal;
}

    .main {
  height: calc(100% + 1px);
  width: calc(100% - 240px);
  right: 0;
  bottom: -1px;
  left: 240px;
}

.home {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
    
    .screen {
    position: relative;
    background-color: #171719;
    width: 100%;
    height: 1118px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-lightslategray);
    font-family: var(--font-inter);
  } 

  .sidebar-section2 {
  align-self: stretch;
  height: 112px;
  flex-shrink: 0;
  
}

.container,
.sidebar-section2,
.sidebar-section3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-section3 {
  align-self: stretch;
  height: 172px;
  flex-shrink: 0;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #212124;
  width: 240px;
  height: 1118px;
  overflow: hidden;
  padding: var(--padding-md) var(--padding-sm) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-lg);
}

.left-container-child {
  position: relative;
  width: 64px;
  height: 65px;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}


.icon-playlists {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon3,
.sidebar-link7 {
  flex-direction: row;
  justify-content: flex-start;
}
.icon3 {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
  align-items: flex-start;
}

.icon5,
.top-controls {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.icon5 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
}

.icon-volume {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.topnav-icon-button {
  border-radius: var(--br-md);
  background-color: var(--color-gray-200);
  border: 1px solid rgba(235, 235, 255, 0.05);
  display: none;
  flex-direction: row;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.sidebar-link {
  border: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  background-color: transparent;
  border-radius: var(--br-md);
  width: 216px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
} 

.sidebar-link1 {
border-radius: var(--br-md);
width: 216px;
flex-direction: row;
padding: var(--padding-sm);
box-sizing: border-box;
align-items: center;
}
.sidebar-link1,
.sidebar-link2,
.sidebar-section {
display: flex;
justify-content: flex-start;
}
.sidebar-link2 {
border-radius: var(--br-md);
width: 216px;
flex-direction: row;
padding: var(--padding-sm);
box-sizing: border-box;
align-items: center;
color: var(--color-gray-100);
}

.sidebar-link4,
.sidebar-section1 {
display: flex;
justify-content: flex-start;
}
.sidebar-link4 {
cursor: pointer;
border: 0;
padding: var(--padding-sm);
background-color: transparent;
border-radius: var(--br-md);
width: 216px;
flex-direction: row;
box-sizing: border-box;
align-items: center;
gap: var(--gap-sm);
}
.sidebar-section1 {
align-self: stretch;
flex-direction: column;
align-items: flex-start;
}

.sidebar-link7 {
border: 0;
font-weight: 500;
font-family: var(--font-inter);
font-size: var(--font-size-base);
background-color: transparent;
border-radius: var(--br-md);
width: 216px;
display: flex;
padding: var(--padding-sm);
box-sizing: border-box;
align-items: center;
}
.sidebar-link1,
.sidebar-link2,
.sidebar-section {
  display: flex;
  justify-content: flex-start;
}
.sidebar-link2 {
  border-radius: var(--br-md);
  width: 216px;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  color: var(--color-gray-100);
}
.sidebar-section {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-lg);
  color: #0ff;
}
.section-title {
  position: relative;
  line-height: 12px;
  font-weight: 500;
  display: inline-block;
  width: 129px;
  height: 16px;
  flex-shrink: 0;
}

.home3,
.sidebar-link3 {
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.sidebar-link3 {
  border-radius: var(--br-md);
  width: 216px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}

.home3 {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-inter);
  text-align: left;
}

.plaing-from-coexist,
.the-xx,
.title {
  font-weight: 600;
  font-family: var(--font-inter);
}
.title {
  border: 0;
  font-size: var(--font-size-base);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.plaing-from-coexist,
.the-xx {
  position: relative;
  color: var(--color-gray-300);
  text-align: left;
}
.the-xx {
  font-size: var(--font-size-base);
  letter-spacing: -0.05em;
  line-height: 20px;
}
.plaing-from-coexist {
  font-size: var(--font-size-xs);
  line-height: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 139px;
  height: 12px;
  flex-shrink: 0;
}
.content,
.left-container {
  justify-content: flex-start;
}
.content {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.left-container {
  align-self: stretch;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
}

.top-controls {
  align-items: center;
  justify-content: center;
  gap: var(--gap-lg);
}
.div {
  position: relative;
  letter-spacing: 0.05em;
  line-height: 20px;
  font-weight: 600;
}
.bottom-controls-child {
  flex: 1;
  position: relative;
  border-radius: 999px;
  background-color: #4c4e54;
  height: 4px;
  overflow: hidden;
}
.bottom-controls,
.center-container {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.bottom-controls {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.center-container {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-lg);
  justify-content: center;
  gap: var(--gap-md);
}
.icon-volume {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.topnav-icon-button {
  border-radius: var(--br-md);
  background-color: var(--color-gray-200);
  border: 1px solid rgba(235, 235, 255, 0.05);
  display: none;
  flex-direction: row;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.bottom-player,
.right-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-container {
  padding: 0 var(--padding-lg);
  justify-content: flex-end;
  gap: var(--gap-lg);
}
.bottom-player {
  position: fixed;
  bottom: -2px;
  left: calc(50% - 480px);
  background-color: var(--color-gray-200);
  width: 1197px;
  padding: 14px var(--padding-md);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 112px;
  text-align: center;
  font-size: var(--font-size-xs);
}